
  ul{
    &.side-nav{
      margin-top: 64px;
      width: 100px;
      @media (max-width: 992px) {
        width: 240px;
        margin: 0;
      }
      li{
        &.userInfos{
          display: none;
          @media (max-width: 992px) {
            display: block;
          }
        }
        a{
          display: flex;
          align-items: center;
          margin-top: 20px;
          &:hover{
            background: none;
          }
          img{
            width: 100%;
            opacity: 0.3;
            @media (max-width: 992px) {
              opacity: 1;
              width: 30px;
            }
            &:hover{
              opacity: 1;
            }
          }
          svg{
            opacity: 0.3;
            color: #CC1137;
            width: 36px;
            height: 36px;
            @media (max-width: 992px) {
              opacity: 1;
              width: 30px;
            }
          }
          span{
            display: none;
            font-size: 12px;
            @media (max-width: 992px) {
              display: block;
              margin-left: 20px;
            }
          }
        }
      }
      @media (min-width: 992px) {
        &:hover{
          transition: 0.1s ease-in-out;
          width: 240px;
          opacity: 1;
          li{
            a{
              &.selected{
                height: 58px !important;
              }
              img{
                width: auto;
                margin-right: 15px;
                width: 40px;
              }
              span{
                font-size: 12px;
                display: block;
                color: #CC1137;
                opacity: 0.3;
              }
              &:hover{
                img{
                  opacity: 1;
                }
                span{
                  color: #CC1137;
                }
              }
            }
            &:hover{
              a{
                span{
                  opacity: 1;
                }
              }
            }
          }
        }
      }

  }
}

.content{
  margin-left: 100px;
  padding: 20px;
  @media (max-width: 992px) {
    margin: 0;
  }
}

#slide-out{
  .profil{
    display: flex;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    img{
      width: 100%;
    }
  }
  .selected{
    background-color: #ffffff;
    box-shadow: 0 1px 14px 0 rgba(214, 9, 104, 0.2);
  }
}
