<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper header noBackground">
      <a href="/">
        <img src="/images/logoHeader.png" alt="">
      </a>
      <div class="header__right">
        <ul>
          <li><a href=""><i class="material-icons">notifications_active</i></a></li>
          <li><a href=""><i class="material-icons">message</i></a></li>
          <li><a href=""><img class='dropdown-button circle' data-activates='dropdown1' src="/images/yuna.jpg" alt=""></a></li>
        </ul>
      </div>

      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/profile">Mon profil</a></li>
        <li class="divider"></li>
        <li><a href="">Modifier mon profil</a></li>
        <li class="divider"></li>
        <li><a href="/logout">Deconnexion</a></li>
      </ul>
    </div>
  </nav>
</div>
