<%- include('./partials/header_noco'); %>
<div class="row">
  <div class="legals col s12">
    <h4>CGU</h4>
    <div class="col s10 offset-s1 white">
      <p>
        Nous vous invitons à lire attentivement les presentes conditions generales d’utilisation (« Conditions Générales d’Utilisation ») et à les imprimer si vous le souhaitez avant d’utiliser les services. En cochant la case « J’accepte » ci-dessous, vous confirmez avoir lu, compris et accepte les Conditions Générales d’Utilisation.
        Les Conditions Générales d’Utilisation décrivent les conditions selon lesquelles la société STEPHANE DRAY CREATIONS, société à responsabilité limitée, au capital de 3 000 €, immatriculée au RCS de Paris sous le numéro 518 554 027 et dont le siège social est situé au 22 rue des Martyrs 75009 Paris (« SD CREATIONS ») propose ses services sur la plateforme ANATOMIK (la « Plateforme »). Les Conditions Générales d’Utilisation définissent également les droits et les obligations des Utilisateurs des Services fournis par SD CREATIONS.
      </p>
      <h2>1. Définitions </h2>
      <p>
        Tous les termes ci-après définis commençant par une majuscule, qu’ils soient utilisés au singulier ou au pluriel, sont utilisés dans les Conditions Générales d’Utilisation (y compris le préambule) avec le sens suivant :
        <strong>« Administrateur »</strong> : désigne l’administrateur désigné par le Client, en charge de la création et de la gestion des comptes des Utilisateurs. <br>
        <strong>« Client »</strong> : désigne le client de SD CREATIONS, qu’il s’agisse d’un prestataire référencé sur la Plateforme ou d’un partenaire de SD CREATIONS, et tel qu’identifié en page de signature des Conditions Générales d’Utilisation.<br>
        <strong>« Communauté ANATOMIK »</strong> : désigne l’ensemble des utilisateurs des Services de la Plateforme.<br>
        <strong>« Conditions Générales d’Utilisation »<strong> : désignent les présents termes et conditions qui ont pour objet de définir les conditions d’utilisation des Services.<br>
        <strong>« Contenus »</strong> : désignent toutes les informations, données, commentaires, photographies, plans, vidéos, images et contenus mis à disposition par les Prestataires et les Partenaires sur la Plateforme.<br>
        <strong>« Données »</strong> : désignent toutes les informations, données, commentaires, photographies, plans, vidéos, images et contenus que SD CREATIONS met à disposition de tout ou partie des Utilisateurs sur la Plateforme.<br>
        <strong>« Services »</strong> : désigne l’ensemble des services proposés par SD CREATIONS tels que notamment décrits dans l’article 2 des Conditions Générales d’Utilisation et sur la Plateforme.<br>
        <strong>« Utilisateur »</strong> : désigne une personne autorisée par le Client à utiliser les Services. L’Administrateur est un Utilisateur.<br>
      </p>
      <h2>2. Description des Services</h2>
      <p>
        SD CREATIONS permet notamment aux Utilisateurs de :
        publier et consulter des offres de prestations et de produits sur la Plateforme ; <br>
        stocker, rassembler, charger, verser, consulter, mettre à jour, partager et enrichir les Contenus sur un espace de la Plateforme qui leur est dédié ;<br>
        accéder aux Contenus mis à la disposition des utilisateurs de la Plateforme par les autres utilisateurs de la Plateforme ;<br>
        accéder, le cas échéant, aux Données mises à disposition des utilisateurs de la Plateforme par SD CREATIONS ;<br>
        accéder à des outils de recherche, de visualisation et de gestion des Contenus stockés sur la Plateforme.<br>
      </p>
      <h2>3. Utilisation des Services </h2>
      <h3>3.1	Accès à la Plateforme </h3>
      <p>
        L’accès à la Plateforme nécessite la création de comptes. <br>
        L’Administrateur désigné par le Client crée et gère les comptes des Utilisateurs relevant du Client, dans la limite du nombre d’Utilisateurs autorisés par SD CREATIONS, en renseignant le formulaire d’inscription avec les informations requises, en choisissant un identifiant et un mot de passe pour chaque Utilisateur. <br>
        L’Administrateur garantit donner une adresse électronique valide et des coordonnées complètes et exactes permettant de procéder à l’identification précise de l’Utilisateur en cas de litige. Toute information personnelle fantaisiste ou calomnieuse est susceptible d’entraîner la fermeture du compte de l’Utilisateur. <br>
        Pour chaque création de compte Utilisateur, un courrier électronique de confirmation sera envoyé à l’Administrateur par SD CREATIONS à l’adresse électronique déclarée dans le formulaire d’inscription, l’invitant à valider le compte. <br>
        Sauf accord préalable et explicite de SD CREATIONS, l’Administrateur ne peut créer que des comptes nominatifs et chaque Utilisateur ne peut avoir qu’un seul compte, qui lui est personnel et qui ne peut être cédé ou transféré de quelque manière que ce soit. <br>
        Le Client et les Utilisateurs s’engagent à conserver secret les identifiants et mots de passe et à ne les divulguer à aucun tiers. A ce titre, le Client et les Utilisateurs comprennent et acceptent qu’ils sont seuls responsables de la sécurité des identifiants et mots de passe. <br>
        Toute action réalisée par une personne employant l’identifiant et le mot de passe d’un Utilisateur sera réputée réalisée par ledit Utilisateur, sauf notification à SD CREATIONS d’une suspicion de vol ou d’utilisation frauduleuse desdits identifiant et mot de passe dans un délai permettant à SD CREATIONS de les désactiver.
      </p>
      <h3>3.2	Chargement et stockage de Contenus sur la Plateforme </h3>
      <p>
        L’Utilisateur peut verser, charger, stocker et rassembler des Contenus sur l’espace de la Plateforme qui lui est dédié, dans les limites de l’abonnement souscrit par le Client aux Services. <br>
        Le Client et l’Utilisateur sont informés et acceptent que les Contenus versés dans la Plateforme par les Utilisateurs au moyen des comptes du Client deviennent la propriété de SD CREATIONS, qui pourra utiliser, analyser et exploiter les Contenus, en tout ou partie, sur la Plateforme ou sur tout support, pour la durée de protection légale des droits de propriété intellectuelle attachée à ces Contenus et pour le monde entier. <br>
        L’Utilisateur a la possibilité à tout moment de retirer les Contenus qu’il a stockés sur la Plateforme. L’Utilisateur comprend que, dans ce cas ou dans celui où il perdrait la qualité d’Utilisateur, il ne sera  cependant  pas possible d’empêcher SD CREATIONS de continuer à utiliser ces Contenus. <br>
        SD CREATIONS fera tous ses efforts pour assurer la conservation et l’intégrité des Contenus sur la Plateforme. <br>
        L’Utilisateur est seul responsable des Contenus qu’il stocke sur la Plateforme. SD CREATIONS ne procède à aucun contrôle des Contenus stockés par l’Utilisateur. Par conséquent, lors de chaque versement de Contenus, l’Utilisateur s’engage à respecter les dispositions légales et réglementaires applicables. Les Contenus ne doivent en aucune manière : (i) violer la loi applicable ; (ii) porter atteinte aux droits d’auteur, aux marques, aux brevets, aux dessins et modèles, au savoir-faire ou à tous droits d’un tiers ; (iii) contenir des propos illicites, haineux, obscènes, injurieux, menaçants ou diffamatoires ; ou (iv) contenir un virus ou un quelconque code malicieux. <br>
        En versant des Contenus sur la Plateforme, l’Utilisateur est informé et accepte que SD CREATIONS ou toute personne qu’il pourra se substituer pourra produire et exploiter des informations statistiques issues d’une analyse des Contenus. Ces informations statistiques ne divulgueront aucune donnée personnelle permettant d’identifier ou de rendre identifiable des personnes. Elles pourront être mises à la disposition de tiers par SD CREATIONS, à titre gratuit ou onéreux.
      </p>
      <h3>3.3 Garanties relatives aux Contenus</h3>
      <p>
        L’Utilisateur garantit qu’il est titulaire des droits sur les Contenus qu’il a versés dans la Plateforme ou qu’il a obtenu de la part des titulaires de droits l’ensemble des autorisations ou droits nécessaires à leur exploitation sur la Plateforme dans les conditions stipulées dans les Conditions Générales d’Utilisation. <br>
        L’Utilisateur garantit SD CREATIONS contre toutes demandes, actions ou réclamations d’un tiers fondées sur une atteinte à l’un de ses droits du fait du stockage, de la diffusion et/ou de l’exploitation des Contenus sur la Plateforme. Dans ce cas, l’Utilisateur s’engage à rembourser intégralement à SD CREATIONS, à première demande, toutes redevances, dommages et intérêts ou frais de justice (y compris les frais d’avocat, dépens et frais non compris dans les dépens) que SD CREATIONS pourrait avoir à supporter en raison du stockage, de la diffusion et/ou de l’exploitation des Contenus litigieux sur la Plateforme conformément aux Conditions Générales d’Utilisation.
      </p>
      <h3>3.4 Consultation et utilisation des Données de SD CREATIONS</h3>
      <p>
        SD CREATIONS pourra mettre à la disposition de l’Utilisateur des Données, telles que des données collectées par SD CREATIONS et des données statistiques calculées par SD CREATIONS à partir des Contenus, dans les limites de l’abonnement souscrit par le Client aux Services. L’Utilisateur est informé que les Données de SD CREATIONS étant notamment élaborées à partir des Contenus et des données de tiers, SD CREATIONS ne peut pas en garantir la fiabilité, la pertinence et l’exactitude. <br>
        Les Données diffusées sur la Plateforme par SD CREATIONS sont susceptibles d’être protégées notamment par des droits de la propriété intellectuelle (tels que les droit d’auteur, marques, dessins et modèles, brevets). <br>
        Aussi, l’Utilisateur s’engage à ne pas porter atteinte aux droits des tiers lors de la consultation ou de l’utilisation des Données accessibles sur la Plateforme et à respecter les conditions particulières d’utilisation des Données communiquées par SD CREATIONS, le cas échéant.
      </p>
      <h2>4. Procédure d’Alerte </h2>
      <p>
        Dans l’hypothèse où l’Utilisateur constaterait qu’un Contenu est manifestement illicite, l’Utilisateur devra le notifier à Stephane Dray par email ([sdray@23juin.com) en lui communiquant les informations suivantes :
      </p>
      <ul>
        <li>ses nom, prénoms, profession, domicile, nationalité, date et lieu de naissance (s’il est une personne physique) ou sa forme, sa dénomination, son siège social et la personne physique qui la représente légalement (s’il est une personne morale) ;</li>
        <li>a description des faits litigieux et leur localisation précise sur la Plateforme ;</li>
        <li>les raisons pour lesquelles le Contenu devrait être retiré, en incluant les fondements juridiques et factuels à l’origine de la notification.</li>
        <p>
          SD CREATIONS fera ses meilleurs efforts pour suspendre ou retirer les Contenus manifestement illicites. Le fait, pour un Utilisateur, de présenter à SD CREATIONS un Contenu comme étant illicite alors qu’il sait cette information inexacte, peut engager sa responsabilité pénale.
        </p>
      </ul>
      <h2>5. Obligations de l’Utilisateur </h2>
      <p>
        L’Utilisateur s’engage à utiliser la Plateforme et les Services conformément aux stipulations des Conditions Générales d’Utilisation. L’Utilisateur s’engage notamment à :
      </p>
      <ul>
        <li>ne pas modifier, ajouter, supprimer, ou chercher à modifier, ajouter, supprimer de contenus sauf dans les espaces spécifiquement réservés à cet effet et conformément aux stipulations des Conditions Générales d’Utilisation. Tous les autres espaces de la Plateforme sont strictement réservés à l’usage de SD CREATIONS ;</li>
        <li>ne pas intervenir sur la Plateforme, à l’aide de logiciels ou d’outils permettant notamment d’automatiser les requêtes sur la Plateforme et/ou d’extraire ou reproduire tout ou partie des éléments composant la Plateforme ou tout ou partie des résultats des requêtes, ou d’avoir une activité susceptible de perturber le fonctionnement de la Plateforme et/ou des Services, sans l’autorisation préalable et explicite de SD CREATIONS. L’Utilisateur est informé et accepte que SD CREATIONS mette en place des outils de détection de telles activités ;</li>
        <li>ne pas contrevenir aux prescriptions légales et réglementaires applicables aux Services et notamment aux dispositions du Code de la Propriété Intellectuelle.</li>
      </ul>
      <h2>6. Responsabilité</h2>
      <p>
        SD CREATIONS héberge les Contenus sur la Plateforme et ne réalise aucun contrôle a priori de ces Contenus. A ce titre, SD CREATIONS ne sera pas tenu pour responsable de tout Contenu diffusé sur la Plateforme portant atteinte aux droits d’un tiers. <br>
        SD CREATIONS n’est en aucun cas responsable des informations et données communiquées par les autres utilisateurs et qui pourraient être exploitées, le cas échéant, par SD CREATIONS pour les besoins des Données fournies à l’Utilisateur. <br>
        SD CREATIONS ne saurait être tenu pour responsable en cas de corruption des Contenus stockés sur la Plateforme, en cas de force majeure ou en cas de toute utilisation non conforme des Services par l’Utilisateur. <br>
        Dans l’hypothèse où la responsabilité de SD CREATIONS serait recherchée en raison d’un manquement de l’Utilisateur à l’une quelconque des stipulations des Conditions Générales d’Utilisation, SD CREATIONS pourrait appeler le Client et l’Utilisateur en garantie. <br>
        SD CREATIONS n’est pas en mesure de garantir à l’Utilisateur que la Plateforme répondra exactement à ses attentes et besoins ni qu’aucune erreur n’apparaîtra au cours de son utilisation. <br>
        SD CREATIONS ne pourra pas être tenu pour responsable de tout dommage immatériel subi par l’Utilisateur tel que la perte de revenus, la perte de bénéfice, la perte de clientèle, la perte de chance ou l’atteinte à l’image de l’Utilisateur, du fait de SD CREATIONS et de ses Services. <br>
        Le cas échéant, le Client pourra mettre en jeu la responsabilité de SD CREATIONS, du fait d’un manquement contractuel ayant causé un dommage direct à un Utilisateur, pendant un délai d’un (1) an à compter de la survenance du manquement en cause, ce que reconnaît et accepte expressément le Client et l’Utilisateur. <br>
        Si une condamnation pécuniaire devait être prononcée à l’encontre de SD CREATIONS, pour quelque cause que ce soit, la condamnation aux dommages et intérêts ne pourrait être supérieure aux sommes payées par le Client au cours des six (6) mois précédant le manquement. <br>
      </p>
      <h2>7. Propriété Intellectuelle</h2>
      <p>
        La Plateforme ainsi que tous les éléments la composant (tels que la marque ANATOMIK et toutes les autres marques, logos, noms de domaine, images, Données mises à disposition par SD CREATIONS et bases de données constituées par SD CREATIONS) sont la propriété de SD CREATIONS ou ont fait l’objet d’une autorisation préalable d’utilisation de la part de tiers. <br>
        Toute reproduction, représentation totale ou partielle d’un élément composant la Plateforme et/ou sa structure, sans l’autorisation préalable et écrite de SD CREATIONS, est constitutif d’une contrefaçon au sens du Code de la Propriété Intellectuelle et serait sanctionnée à ce titre.
      </p>
      <h2>8. Données Personnelles</h2>
      <h3>8.1. Traitement des données personnelles de l’Utilisateur par SD CREATIONS</h3>
      <p>
        Pour les besoins de la fourniture des Services, SD CREATIONS est amenée à collecter et traiter les données personnelles de l’Utilisateur. En qualité de responsable de traitement, SD CREATIONS s’engage à respecter les dispositions légales applicables et en vigueur relatives à la protection des données personnelles. <br>
        Les données personnelles de l’Utilisateur sont transmises aux employés de SD CREATIONS, aux autres Utilisateurs et à des tiers sous-traitants de SD CREATIONS situés au sein de l’Union Européenne, qui peuvent réaliser les traitements ou d’autres prestations informatiques en relation avec les Services. <br>
        SD CREATIONS est susceptible de céder tout ou partie de ses actifs, et notamment l’activité relative aux Services pour laquelle il traite les données personnelles, dans le cadre d’une fusion, d’une acquisition, d’une réorganisation, d’une vente totale ou partielle de ses actifs ou dans l’hypothèse d’un redressement ou d’une liquidation judiciaire. L’Utilisateur accepte et est informé que le successeur de SD CREATIONS pourra traiter ses données personnelles pour assurer la continuité des Services conformément au Conditions Générales d’Utilisation. <br>
        SD CREATIONS pourra transférer les données personnelles de l’Utilisateur à des tiers, après avoir obtenu le consentement exprès de l’Utilisateur pour recevoir des communications et offres commerciales portant sur des produits et/ou services fournis par les tiers. L’Utilisateur pourra s’opposer à tout moment à la réception de ces communications et offres commerciales de tiers en informant SD CREATIONS. <br>
        L’Utilisateur dispose d’un droit d’accès, de modification et de suppression des données le concernant en contactant Stephane Dray par email ([sdray@23juin.com])
      </p>
      <h3>8.2 Traitement de données personnelles des Utilisateurs par le Client</h3>
      <p>
        En utilisant les Services, le Client peut être amené à collecter et traiter des données personnelles, notamment les informations d’identité de ses Utilisateurs. En qualité de responsable de traitement, le Client s’engage à respecter les dispositions légales applicables et en vigueur relatives à la protection des données personnelles. <br>
        SD CREATIONS qui héberge les données sur ses serveurs, agit en qualité de sous-traitant et sur instruction du Client, responsable du traitement. SD CREATIONS présente des garanties suffisantes pour assurer la sécurité et la confidentialité de ces données. Cette exigence ne décharge pas le Client de son obligation de veiller au respect de ces mesures de sécurité et de confidentialité.
      </p>
      <h2>9. Fermeture de compte </h2>
      <p>
        Le compte de l’Utilisateur peut être fermé par l’Administrateur à tout moment. Il appartient à ce dernier d’organiser préalablement à cette fermeture la sauvegarde ou le transfert des Contenus associés au compte dont la fermeture est envisagée. <br>
        SD CREATIONS se réserve le droit de fermer le compte de l’Utilisateur de plein droit, sans préavis, sans formalité judiciaire et sans indemnités, par email ou par simple courrier postal dans les cas suivants : <br>
      </p>
      <ul>
        <li>utilisation des Services contraire à l’ordre du public et aux bonnes mœurs ;</li>
        <li>atteinte aux droits de propriété intellectuelle de SD CREATIONS et à ceux d’un tiers ;</li>
        <li>acte affectant le fonctionnement des Services ;</li>
        <li>détournement ou utilisation non autorisée ou frauduleuse des identifiants et mots de passe ;</li>
        <li>tout manquement substantiel de la part de l’Utilisateur à ses obligations au titre des Conditions Générales d’Utilisation autres que celles listées ci-dessus.</li>
        <p>SD CREATIONS ne pourra en aucun cas être tenu responsable vis-à-vis de l’Utilisateur, du Client ou de tiers pour la fermeture du compte de l’Utilisateur, intervenue dans les conditions prévues au présent article, et pour les conséquences de celle-ci.</p>
      </ul>
      <h2>10. Modifications </h2>
      <p>
        SD CREATIONS se réserve le droit (i) de changer ou de modifier sans limitation tout élément des Services, (ii) de modifier les stipulations des Conditions Générales d’Utilisation, (iii) de suspendre ou interrompre temporairement ou définitivement tout ou partie des Services. <br>
        L’Utilisateur sera tenu informé des changements apportés aux Services et/ou aux Conditions Générales d’Utilisation sur la Plateforme, sans que la responsabilité de SD CREATIONS puisse être recherchée à cet égard.<br>
        En cas de contradiction entre les stipulations des Conditions Générales d’Utilisation et tout changement qui leur serait apporté notamment afin de respecter les lois et réglementation nationales en vigueur, les modifications apportées aux Conditions Générales d’Utilisation prévaudront.
      </p>
      <h2>11. Divers</h2>
      <h3>11.1. Notification</h3>
      <p>
        Toutes les notifications du Client et de l’Utilisateur relatives à la Plateforme devront être effectuées par écrit et pourront être adressées à Stephane Dray par email ([sdray@23juin.com])
      </p>
      <h3>11.2. Convention de preuve</h3>
      <p>L’Utilisateur accepte que toutes les correspondances et/ou communication et/ou transmission d’information ayant lieu avec SD CREATIONS par voie électronique sont présumées avoir la même force probante qu’un écrit sur support papier.</p>
      <h3>11.3. Cocontractants indépendants</h3>
      <p>Aucune stipulation dans les Conditions Générales d’Utilisation ne crée un accord de partenariat, un mandat, un lien de subordination ou une joint-venture entre les parties. </p>
      <h3>11.4. Tolérance</h3>
      <p>Le fait pour l’une des parties de ne pas se prévaloir d’un manquement par l’autre partie à l’une quelconque des obligations visées dans les Conditions Générales d’Utilisation ne saurait être interprété comme une renonciation à l’obligation en cause.</p>
      <h3>11.5. Nullité partielle</h3>
      <p>Si l’une quelconque des stipulations des Conditions Générales d’Utilisation s’avérait nulle au regard d’une règle de droit en vigueur ou d’une décision judiciaire devenue définitive, elle serait alors réputée non écrite, sans pour autant entraîner la nullité du contrat ni altérer la validité de ses autres stipulations.</p>
      <h3>11.6. Intégralité de l’accord</h3>
      <p>L’Utilisateur reconnait que les Conditions Générales d’Utilisation, complétées le cas échéant par des conditions particulières, constituent l’intégralité de l’accord conclu avec SD CREATIONS. Les Conditions Générales d’Utilisation entrent en vigueur à compter de leur acceptation par l’Utilisateur et cet accord se poursuivra pour toute la durée de vie du compte sauf en cas de fermeture conformément à ce qui est stipulé à l’article 9 ci-dessus.</p>
      <h3>11.7. Loi applicable – juridiction compétente</h3>
      <p>
        Les Conditions Générales d’Utilisation sont régies par le droit français. <br>
        En cas de litige entre les parties portant sur la formation, l’interprétation, l’exécution et/ou la résiliation des Conditions Générales d’Utilisation, il est attribué compétence aux tribunaux dans le ressort de la Cour d’appel de Paris, nonobstant pluralité de défendeur ou appel en garantie, même pour les procédures d’urgence ou les procédures conservatoires par voie de référé ou requête.
      </p>
    </div>
  </div>
</div>

<%- include('./partials/footer'); %>
