<%- include('./partials/header'); %>
<div class="row">
    <%- include('./partials/sidenav'); %>
  <div class="legals content">
    <h4>Mentions légales</h4>
    <div class="row white">
    
    </div>
  </div>
</div>

<%- include('./partials/footer'); %>
