.users{
  h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #CC1137;
  }
  table{
    background: white;
    margin-bottom: 50px;
    a{
      color: #9D1111;
      &:hover{
        color: black;
      }
    }
  }
  .pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}
