.legals{
  background-image: url('../images/patternTransparent.png');
  background-size: cover;
  background-repeat: no-repeat;
  h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #CC1137;
  }
  .white{
    background: white;
    margin-bottom: 40px;
    border-radius: 6px;
    padding: 20px;
  }
  h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #9D1111;
  }
  h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: black;
  }
  p{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
  }
  ul{
    li{
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #4a4a4a;
    }
  }
}
