.login{
  background-image: url('/images/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__form{
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    &--title{
      h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 42px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #CC1137;
      }
    }
    &--form{
      form{
        .button{
          margin-top: 20px;
          display: flex;
          justify-content: center;
          input{
            background: #FEBB0A;
            color: white;
            padding: 20px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
