.newEtablissement{
  background-image: url('../images/patternTransparent.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #CC1137;
  }
  form{
    .select{
      p{
        color: #9e9e9e;
        font-size: 14px;
        cursor: text;
      }
    }
  }
  button{
    z-index: 0;
  }
  .white{
    background: white;
    margin-bottom: 40px;
    border-radius: 6px;
  }
}
