.singleProject{
  &__documents{
    border-radius: 12px;
    background-color: #ffffff;
    margin-top: 50px;
    margin-bottom: 100px;
    &__header{
      display: flex;
      flex-direction: column;
      p{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #9b9b9b;
      }
      h2{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        text-transform: uppercase;
        color: #CC1137;
      }
      &--nav{
        ul{
          display: flex;
          justify-content: center;
        }
      }
    }
    &__phases{
      &__phase{
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
        flex-wrap: wrap;
        &--item{
          border-radius: 12px;
          background-color: #ffffff;
          box-shadow: 0 2px 4px 0 rgba(230, 230, 230, 1);
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          width: 30%;
          @media (max-width: 992px) {
            width: 50%;
          }
          cursor: pointer;
          margin-bottom: 20px;
          h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #000000;
          }
          p{
            font-family: 'Montserrat', sans-serif;
            font-size: 11px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.5px;
            color: #9b9b9b;
            padding-left: 10px;
          }
        }
      }
    }
    &__racine{
      margin-bottom: 100px;
      form{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #9D1111;
      }
      &__all{
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 992px) {
          justify-content: center;
        }
        &--item{
          width: 200px;
          background: white;
          height: auto;
          box-shadow: 0 2px 4px 0 rgba(49, 39, 176, 0.1);
          margin: 10px;
          @media (max-width: 992px) {
            width: 43%;
          }
          h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #000000;
            padding: 40px 26px 0px 26px;
          }
          .bar{
            margin-bottom: 10px;
            width: 58.9px;
            height: 1px;
            background-color: #000000;
            margin: 0 auto;
          }
          &--footer{
            display: flex;
            justify-content: space-between;
            margin-top: 70px;
            .type{
              font-family: 'Montserrat', sans-serif;
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: center;
              color: #4a90e2;
              background-color: #ffffff;
              box-shadow: 0 2px 4px 0 rgba(226, 224, 224, 0.5);
              margin: 0;
              padding: 10px;
              border: solid 1px #4a90e2;
            }
          }
        }
      }
    }
  }
  .modal .modal-footer {
    display: flex !important;
    justify-content: space-around !important;
    a{
      color: #9D1111;
    }
  }
}
