.ogp{
  background-image: url(../images/patternTransparent.png);
  background-repeat: no-repeat;
  background-size: cover;
  &.content{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    min-height: 90vh;
  }
  h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #CC1137;
    @media (max-width: 600px) {
      font-size: 16px;
    }
  }
  &__noProjects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    &--image{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img{
        @media (max-width: 600px) {
          max-width: 240px;
        }
      }
    }
    &--button{
      background: white;
      padding: 10px;
      border-radius: 36px;
      margin-left: 20px;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      font-weight: 500;
      text-align: center;
      color: #9D1111;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        color: #CC1137;
      }
      &:hover{
        border: 1px solid #CC1137;
      }
    }
  }
}
