.ogp{
  &__projects{
    &__items{
      &__item{
        background-image: url('../images/pattern.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 6px;
        border: 4px solid white;
        margin-bottom: 20px;

        &__header{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &--img{
            border-radius: 50%;
            border: 4px solid white;
            overflow: hidden;
            img{
              width: 60px;
              height: 60px;
            }
          }
          p{
            color: white;

          }
        }
        &--title{
          padding: 10px;
          font-family: 'Montserrat', sans-serif;
          font-size: 15px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: white;
          margin-top: 0;
          &::first-letter{
            text-transform: capitalize;
          }
        }
        &__state{
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          &--item{
            background: white;
            border-radius: 50px;
            color: black;
            margin: 0;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            p{
              text-transform: capitalize;
            }
            .state{
              color: #9D1111;
            }
          }
        }
      }
    }
  }
}
