.profil{
  &__header{
    display: flex;
    align-items: center;
    color: white;
    padding: 40px;
    background-image: url('../images/pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 600px) {
      flex-direction: column;
    }
    .circle{
      height: 150px;
      width: 150px;
    }
    &--img{
      display: flex;
      width: 150px;
      height: 150px;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 50%;
      img{
        width: 100%;
      }
    }
    &__infos{
      margin-left: 30px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: flex-start;
      @media (max-width: 992px) {
        flex-direction: column;
      }

      h3{
        @media (max-width: 600px) {
          font-size: 26px;
        }
      }
      &__left{
        &--social{
          display: flex;
          align-items: center;
          a{
            margin-right: 20px;
            &.site{
              color: white;
              border: 1px solid white;
              border-radius: 12pc;
              padding: 5px;
            }
          }
        }
      }
      &--right{
        z-index: 999;
        a{
          color: white;
          display: flex;
          align-items: center;
          svg{
            margin-right: 5px;
          }
        }
      }
    }
  }
  &__left{
    h2{
      font-family: Avenir;
      font-size: 16px;
      font-weight: 900;
      text-align: left;
      color: #d60968;
      @media (max-width: 600px) {
        font-size: 14px;
      }
    }
    &__etat{
      padding: 30px;
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: 0px 1px 2px 0px #c0c0c0;
      h3{
        font-family: Avenir;
        font-size: 20px;
        font-weight: 500;
        line-height: 0.95;
        color: #000000;
      }
      &__asso{
        display: flex;
        align-items: center;
        img{
          width: 180px;
          background: #dadada;
          @media (max-width: 600px) {
            width: 100px;
          }
        }
        &--infos{
          display: flex;
          flex-direction: column;
          margin-left: 50px;
          p{
            padding: 0;
            margin: 0;
            font-family: Avenir;
            &.poste{
              font-size: 20px;
              font-weight: 500;
              color: #000000;
              @media (max-width: 600px) {
                font-size: 14px;
              }
            }
            &.asso{
              font-size: 20px;
              color: #000000;
              @media (max-width: 600px) {
                font-size: 14px;
              }
            }
            &.date{
              font-size: 16px;
              font-weight: 300;
              color: #000000;
              @media (max-width: 600px) {
                font-size: 12px;
              }
            }
          }
        }
      }
      &__etablissement{
        h3{
          font-family: Avenir;
          font-size: 20px;
          font-weight: 500;
          line-height: 0.95;
          color: #000000;
          @media (max-width: 600px) {
            font-size: 14px;
          }
        }
        ul{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
    &__competences{
      margin-bottom: 100px;
      padding: 30px;
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: 0px 1px 2px 0px #c0c0c0;
      @media (max-width: 600px) {
        margin-bottom: 0px;
      }
      h3{
        font-family: Avenir;
        font-size: 20px;
        font-weight: 500;
        line-height: 0.95;
        color: #000000;
      }
      &__tags{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .chip{
          margin: 10px;
          border-radius: 6px;
          background: white;
          border: solid 1px black;
        }
      }
    }
    &__historique{
      padding: 30px;
      margin-top: 30px;
      margin-bottom: 100px;
      h3{
        font-family: Avenir;
        font-size: 20px;
        font-weight: 500;
        line-height: 0.95;
        color: #000000;
      }
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: 0px 1px 2px 0px #c0c0c0;
      &__item{
        display: flex;
        align-items: center;
        &--infos{
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          p{
            padding: 0;
            margin: 0;
            font-family: Avenir;
            &.poste{
              font-size: 20px;
              font-weight: 500;
              color: #000000;
              @media (max-width: 600px) {
                font-size: 14px;
              }
            }
            &.asso{
              font-size: 20px;
              color: #000000;
              @media (max-width: 600px) {
                font-size: 14px;
              }
            }
            &.date{
              font-size: 16px;
              font-weight: 300;
              color: #000000;
              @media (max-width: 600px) {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
  &__right{
    &__informations{
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: 0px 1px 2px 0px #c0c0c0;
      padding: 20px;
      margin-top: 20px;
      h2{
        margin-top: 20px;
        font-family: Avenir;
        font-size: 16px;
        font-weight: 900;
        text-align: left;
        color: #d60968;
        @media (max-width: 600px) {
          font-size: 14px;
        }
      }
      &--top{
        .line1{
          font-size: 18px;
          font-family: Avenir;
          color: black;
          @media (max-width: 600px) {
            font-size: 12px;
          }
        }
        p{
          line-height: 0;
        }
        .line2{
          font-size: 14px;
          color: #D60968;
          @media (max-width: 600px) {
            font-size: 12px;
          }
        }
        .right{
          text-align: right;
        }
      }
      &--middle{
        margin-bottom: 50px;
        .telephone , .mail{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p{
            font-family: Avenir;
            font-size: 20px;
            font-weight: 500;
            color: #000000;
            margin-top: 20px;
            margin-bottom: 10;
            @media (max-width: 600px) {
              font-size: 14px;
            }
          }
          a{
            font-family: Avenir;
            font-size: 14px;
            font-weight: 500;
            color: #d60968;
            @media (max-width: 600px) {
              font-size: 12px;
            }
          }
        }
      }
    }
    &__about{
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: 0px 1px 2px 0px #c0c0c0;
      padding: 20px;
      margin-top: 40px;
      h2{
        font-family: Avenir;
        font-size: 16px;
        font-weight: 900;
        text-align: left;
        color: #d60968;
        @media (max-width: 600px) {
          font-size: 14px;
        }
      }
      p{
        color: #a4a4a4;
      }
      @media (max-width: 600px) {
        margin-bottom: 80px;
      }
    }
  }
}
