.collapsible-header p {
  width: 14%;
  padding: 1rem;
}

.services{
  #tabs-swipe-demo{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin-top: 30px;
    margin-bottom: 50px;
    li{
      &.indicator{
        background: #9D1111;
      }
      a{
        &.active{
          color: #9D1111;
        }
      }
    }
  }

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
    &--left{
      h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 42px;
        font-weight: 600;
        color: #CC1137;
        @media (max-width: 600px) {
          font-size: 22px;
        }
        span{
          font-size: 18px;
          font-weight: 500;
          color: #000000;
          @media (max-width: 600px) {
            font-size: 14px;
          }
        }
      }
    }
    &--right{
      display: flex;
      @media (max-width: 600px) {
        flex-direction: column;
        justify-content: center;
      }
      a{
        background: white;
        padding: 10px;
        border-radius: 36px;
        margin-left: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        color: #9D1111;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 600px) {
          margin-top: 10px;
          text-align: center;
        }

        &:hover{
          transition: all 0.2s ;
          border: 1px solid #9D1111;
        }
        svg{
          margin-right: 5px;
        }
        @media (max-width: 600px) {
          font-size: 12px;
        }
      }
    }
  }
  #test-swipe-1, #test-swipe-2, #test-swipe-3{
    ul{
      &.collapsible{
        margin-bottom: 100px;
      }
    }
  }
  &__collapsible{

    &--header{
      ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
          opacity: 0.8;
          text-align: center !important;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #9D1111;
          text-transform: uppercase;
        }
      }
    }
    &__hidden{
      &__left{
        &--lieu{
          p{
            font-family: 'Montserrat', sans-serif;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: black;
            text-transform: uppercase;
            span{
              color: #9D1111;
            }
          }
        }
        &--description{
          h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            text-transform: uppercase;
          }
          p{
            font-family: 'Montserrat', sans-serif;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.46;
            letter-spacing: normal;
            text-align: left;
            color: #a4a4a4;
            border-radius: 12px;
            background-color: #ffffff;
            box-shadow: 0 2px 4px 0 rgba(230, 230, 230, 0.5);
            padding: 20px;
          }
        }
      }
      &__right{
        &--contact{
          background-color: #ffffff;
          box-shadow: 0 2px 4px 0 rgba(230, 230, 230, 0.5);
          padding: 20px !important;
          .top{
            display: flex;
            align-items: center;
            img{
              width: 46px;
            }
            .contact{
              display: flex;
              flex-direction: column;
              margin-left: 20px;
              border-radius: 6px;
              a{
                font-family: 'Montserrat', sans-serif;
                font-size: 12px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #120000;
              }
              p{
                font-family: 'Montserrat', sans-serif;
                font-size: 12px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
                margin: 0;
              }
            }
          }
          p{
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: black;
            span{
              color: #9D1111;
            }
          }
        }
      }
    }
    &--visible{
      p{
        text-align: center;
      }
    }
  }

}
