.signup{
  background-image: url('../images/patternTransparent.png');
  background-size: cover;
  background-repeat: no-repeat;
  &__form{
    &--organisation{
      margin-bottom: 8px;
      p{
        font-size: .8rem;
        color: #9e9e9e;
      }
    }
    &--association{
      margin-bottom: 8px;
      p{
        font-size: .8rem;
        color: #9e9e9e;
      }
    }
  }
  h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #CC1137;
    @media (max-width: 992px) {
      font-size: 16px;
    }
  }
  button{
    z-index: 0;
  }
  .white{
    background: white;
    margin-bottom: 40px;
    border-radius: 6px;
  }
  .formValidate{
    margin-top: 20px;
  }
}
