<%- include('../partials/header'); %>
<div class="row">

  <%- include('../partials/sidenav'); %>

  <div class="planning content">
    <svg id="gantt"></svg>
  </div>
<%- include('../partials/footer'); %>
